<h1>Hello, Nexos!</h1>
<p>Gracias por tenerme en cuenta esta es la aplicación de prueba</p>
<p>En esta prueba encontrarar los siguientes componentes</p>
<ul>
  <li>NetCore 3.1</li>
  <li>Angular 8</li>
  <li>EntityFrameCore 3</li>
  <li>Arquitectura Soa micro servicios</li>
  <li>Proyecto Core - Entidades</li>
  <li>Proyecto Infraestructure - EntityFramework - Context</li>
  <li>Proyecto App - Angular - Controllers - ViewModels - Servicios</li>
  <li>Patron repository tipos genericos</li>
  <li>Conjunto de agregacion de entidades</li>
  <li>Context en el proyecto de infraestructura</li>
  <li>Angular CLI - Integracion NetCore</li>
  <li>Paso a produccion eficiente de objetos y folder compartidos</li>
</ul>
<p>Para migrar la base de datos por favor realizar los siguientes pasos</p>
<ul>
  <li><strong>Ve a la carpeta de Nexos.src.App</strong></li>
  <li>Ingresa los siguientes comandos</li>
  <li><strong>dotnet ef migrations add Inicial --context NexosContext -p ..\Infraestructure -s App.csproj -o Data.Migrations -v</strong></li>
  <li>Y acontinuacion ingresa el comando <strong>dotnet ef database update -c NexosContext -p ..\Infraestructure -s App.csprojs -v</strong></li>
</ul>
<p>la <code>ClientApp</code> y subdirectorias estan los objetos angular</p>
<p>Proyecto hecho totalmente con visual studio code y netcore 3.1</p>

<p>Disculpas por los retrasos.</p>
